@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,500;0,600;1,200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(90deg, #0e153a, #581b98);
  height: 100vh;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

/*****container******/
.container{
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}
.homepage{
  text-align: center;
}
.homepage h4{
  margin: 10px;
}
/*******Navbar*******/
.navbar{
  display: flex;
  height: 80px;
  align-items: center;

}
.logo{
  flex: 1;
}
.navbar ul{
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a{
  text-decoration: none;
  color: #fff;
}

/***todo****/

.todo-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px auto;
  background-color: rgba(255, 255, 255, 0.1);
  width: 500px;
  filter: blur(0.1px);
}
.todo{
  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 10px;
}
.task{
  flex: 1;
}
.bx{
  display: flex;
  height: 40px;
  align-items: center;
  background-color: #17b978;
  justify-content: center;
  width: 40px;
  font-size: 25px !important;
  transition: all 0.3s ease;
}
.bx:hover{
  color: #17b978;
  background-color: #fff;
}

/******* total *******/
.total{
  position: absolute;
  bottom: 100px;
  width: 90%;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #17b978;
}

/***movies***/
.movie-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-box{
  text-align: center;
  margin: 10px
}
.movie-img{
  height: 300px;
  width: 200px;
}
/*****movie form****/
.movie-form{
  width: 300px;
  margin: 100px auto;
}

.movie-input{
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  margin: 10px 0;
  border-radius: 20px;
  padding-left: 20px;
}
.movie-btn{
  width: 100%;
  height: 30px;
  background-color: #17b978;
  color: white;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  border-radius: 15px;
  margin: 10px auto;
  transition: background-color 0.5s ease;
}
.movie-btn:hover{
  background-color: #0f8657;
}